.main{
    display: flex;
    flex-direction: column;
    @include desktop{
        flex-direction: row;
        align-items: center;
    }
    &__card{
        margin-left: 20px;
        margin-right: 20px;
        @include desktop{
            flex-direction: column;
            
        }
    }
    &__nopadding{
        padding: 0px;
        display: flex;
    }
    &__balance{
        margin-right: 10px;
        width: 158px;
        height: 205px;
        border-radius: 12px;
        background-color: #2F80ED;
        margin-top: 32px;
        //margin-left: 20px;
        @include desktop{
        //    width: 286px;
        //    height: 305px;
           margin-left: 20px;
        }
    }
    &__descri{
        @include desktop{
            padding-bottom: 20px;
        }
    }
    &__carteira{
        width: 24px;
        height: 24px;
        @include TopMargin;
        margin-left: 16px;
        @include desktop{
            margin: 0;
            padding: 20px;
        }
    }
    &__titulo{
        font-size: 12px;
        color: #B3C0D0;
        @include fontInter;
        text-transform: uppercase;
        margin-top: 41px;
        margin-left: 20px;

        @include desktop{
            font-size: 13px;
            margin-left: 20px;
        }
    }
    &__valor{
        font-size: 32px;
        color: #FFF;
        @include fontInter;
        font-weight: bold;
        margin-top: 12px;
        margin-left: 16px;
        @include desktop{
            font-size: 33px;
            margin-left: 20px;
        }
    }
    &__caixa{
        width: 44px;
        height: 23px;
        border-radius: 12px;
        background-color: #FFF;
        margin-top: 12px;
        margin-left: 20px;
        opacity: 41%;
        @include desktop{
            margin-left: 20px;
        }
    }
    &__porcentagem{
        padding: 4px;
        text-align: center;
        margin-top: 4px;
        //color: #fff;
        font-size: 12px;
        @include fontInter;
        
    }
    &__description{
        display: flex;
    }
    &__expendixture{
        font-size: 16px;
        @include fontInter;
        font-weight: bold;
        margin-top: 22px;
        margin-left: 20px;
    }
    &__number{
        font-size: 16px;
        @include fontInter;
        font-weight: bold;
        margin-top: 22px;
        margin-left: 59px;
    }

    &__legend{
        @include fontInter;
        display: flex;
        @include desktop{
            width: 100%;
        }
    }
    &__p1{
        font-size: 14px;
        margin-left: 20px;
        margin-top: 30px;
    }
    &__p2{
        font-size: 12px;
        margin-left: 20px;
        margin-top: 8px;
        color: #219653;
    }
    &__filtro1{
        width: 100%;
        @include desktop{
            width: 70%;
    
        }
    }
    &__filtro{
        @include buttonFiltro;
        @include desktop{
            color: darkblue;
            transition: 500ms;
            &:hover{
                color: #FAF0EB;
                background-color: #2F80ED;

            }
        }
       
        
    }
    &__chart{
        border-radius: 6px;
        @include fontInter;
    }
    &__grafico{
        @include desktop{
            
            width: 100%;
        }
    }
    &__s{
        display: block;
        width: 335px;
        height: 100px;
        background-color: #E8F1FD;
        border-radius: 6px;
        padding-right: 20px;
        margin-top: 32px;
        @include desktop{
            
        }
    }
    &__save{
        align-items: center;
    }
    &__embrulho{
        display: flex;
    }
    &__img{
        display: flex;
        width: 78px;
        height: 78px;
        padding-top: 11px;
    }
    &__descrition{
        font-weight: bold;
        font-size: 14px;
        @include fontInter;
        padding-left: 25px;
        padding-top: 15px;
    }
    &__sn{
        @include fontInter;
        float: right;
        padding-top: 13px;
    }
}