
.nav{
    @include fontInter;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 19%;
    float: left;
    margin-left: 5px;
    &__ul{
        text-align:center;
        width: 100%;
        align-items: center;
        
    }
    &__menu{
        margin-left: 18px;
        text-align: center;
        border-bottom: 1px solid #E8F1FD;
        padding: 30px;
        &:last-child{
            border-bottom: none;
        }
        transition: 500ms;
        &:hover{
            background-color: #E8F1FD;
            box-shadow: 10px 5px 5px #818181;
            border-radius: 20px;

        }
        cursor:pointer;
        
    }
    &__link{
        text-decoration: none;
        color: #00008B;
        border-radius: 6px;
        font-size: 16px;
        padding: 10px 40px;
        transition: 500ms;
        
    }


    @include mobile{
        display: none;
    }
    
   
}